.container {
    color        : #696969;
    border       : 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    font-size    : 16px;
    width        : 100%;
    min-height   : 40px;
    padding      : 5px 12px;

    .tags {
        word-wrap: break-word;
    }

    .inputStyle {
        border     : none;
        outline    : none;
        font-size  : inherit;
        height     : 30px;
        color      : #696969;
        padding-left: 0.3em;
        background   : #FFFFFF 0% 0% no-repeat padding-box;
    }
}