@import '../../styles/common.scss';

.container {
    .content {
        margin-top   : 1em;
        background   : #FFFFFF 0% 0% no-repeat padding-box;
        padding      : 0 2em;
        border-radius: 1em;
        box-shadow   : 0px 3px 6px #00000029;

        .propertyContainer {
            // display        : flex;
            // grid-column-gap: 1em;
            // align-items    : center;
            display              : grid;
            grid-column-gap      : 1em;
            align-items          : center;
            grid-template-columns: 140px 400px;

            .selectStyle {
                width: 60%;
            }
        }

        .videoContainer {
            margin-top                 : 1.5em;
            display                    : grid;
            // grid-template-columns   : 1fr 1fr;
            // grid-template-rows      : auto;
            // grid-gap                : 1em;
            // flex-wrap               : wrap;
            height                     : 20em;
            width                      : 560px;
        }

        .timeContainer {            
            padding-top                : 2em;
            display                    : grid;
            grid-template-columns      : repeat(2, 250px) 0.5fr;
            grid-template-rows         : auto;
            grid-gap                   : 1em;
            flex-wrap                  : wrap;


            .inputStyle {
                border-color : hsl(0, 0%, 80%);
                border-radius: 4px;
                border-style : solid;
                border-width : 1px;
                font-size    : 16px;
                margin-top: 0.4em;

                ::-webkit-input-placeholder {
                    color: hsl(0, 0%, 50%);
                }

                :-ms-input-placeholder {
                    color: hsl(0, 0%, 50%);
                }

                ::placeholder {
                    color: hsl(0, 0%, 50%);
                }
            }
        }

        .row {
            padding-top                : 2em;
            display                    : grid;
            // grid-auto-flow          : column;
            grid-template-columns      : repeat(3, 1fr);
            grid-template-rows         : auto;
            grid-gap                   : 1em;
            flex-wrap                  : wrap;

            .addVideoButton {
                box-shadow   : 0px 9px 12px var(--light-theme-primary-color-100);
                width        : 116px;
                height       : 40px;
                font-size    : 1em;
                margin-bottom: 3em;
            }

            .inputStyle {
                border-color : hsl(0, 0%, 80%);
                border-radius: 4px;
                border-style : solid;
                border-width : 1px;
                font-size    : 16px;

                ::-webkit-input-placeholder {
                    color: hsl(0, 0%, 50%);
                }

                :-ms-input-placeholder {
                    color: hsl(0, 0%, 50%);
                }

                ::placeholder {
                    color: hsl(0, 0%, 50%);
                }
            }

            .errorMessage {
                color: red;
            }
        }
    }
}