@import '../../styles/common.scss';

.container {
    overflow-y: auto;

    .content {
        display              : grid;
        grid-template-columns: 2.8fr 2.8fr 1fr 0.5fr; // 0.5fr 0.5fr;
        grid-template-rows   : 1fr;
        grid-gap             : 1em;
        align-items          : center;

        .searchBar {
            width       : 3em;
            justify-self: end;
            cursor      : pointer;
            transition  : all 700ms ease 0s;
            color       : transparent;
            background  : right 45% / 100% 55% no-repeat url(../../../src/assets/SVG/search.svg);
            border      : 1px solid #DEDEDE;

            &:focus {
                cursor               : text;
                color                : inherit;
                width                : 100%;
                transition           : all 600ms ease 0s;
                background-position-x: 12.7em;
            }
        }

        .datePickerWrapper {
            display         : flex;
            border          : 1px solid #DEDEDE;
            border-radius   : 4px;
            height          : 40px;
            align-items     : center;
            background-color: white;
            justify-content : space-around;

            .datepickerInput {
                color    : #696969;
                font-size: 16px;
                width    : 6em;
                height   : 2.3em;
                border   : none;
                outline  : none;
            }

            .startDate {
                border-radius: 4px;
                padding-left : 0.8em;
            }

            .calendarIcon {
                padding-right: 0.8em;
                width        : 4.5em;
            }
        }
    }

    .exportButton {
        width           : 116px;
        height          : 40px;
        border          : 1px solid var(--light-theme-primary-color);
        border-radius   : 10px;
        color           : var(--light-theme-primary-color);
        text-decoration : none;
        cursor          : pointer;
        font-size       : 1em;
        box-shadow      : 0px 9px 12px var(--light-theme-primary-color-100);
        display         : inline-block;
        text-align      : center;
        padding-top     : 8px;
        background-color: white;
    }

    .addVideoButton {
        box-shadow: 0px 9px 12px var(--light-theme-primary-color-100);
        width     : 116px;
        height    : 40px;
        font-size : 1em;
    }
}

.deleteContainer {
    display           : grid;
    padding           : 20px;
    background        : white;
    border-radius     : 6px;
    grid-template-rows: 60px 20px;

    #submit,
    #cancel {
        width: 120px;
    }
}