
$scrollbar-bg                 : #CCCCCC;
.container {
    display: grid;
    // grid-template-rows: minmax(85px, 85px);
    // grid-template-columns: repeat(6, auto);
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    grid-column-gap: 0.5em;
    justify-content: start;
    flex-direction: row;
    max-height: 420px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        height: 0.5em;
    }

    &::-webkit-scrollbar-track {
        background   : $scrollbar-bg;
        border-radius: 1em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--light-theme-primary-color);
        border-radius   : 1em;
    }

    // for firefox
    scrollbar-width: thin;
    scrollbar-color: var(--light-theme-primary-color) $scrollbar-bg;

    .thumbnailItem {
        display: flex;
        flex-direction: column;
        font-size: 8px;
        color: #FE4B02;
        padding: 1em;
        border: 2px solid transparent;
        height: auto;
        word-wrap: break-word;
    }

    .selectedDiv {
        background-color: #FE4B0233;
        border: 2px solid #FE4B02;
        border-radius: 3px;
    }
}