@import "../../styles/common.scss";


.container {
    overflow-y: auto;

    .heading {
        font-size: 20px;
    }

    .content {
        background   : #FFFFFF 0% 0% no-repeat padding-box;
        padding      : 2em 4em;
        border-radius: 1em;
        margin-top   : 1em;
        // min-height: calc(100vh - 30vh);
        min-height   : 582px;

        .inputWrapper {
            margin                  : 2.2em 0;
            // width                   : 45%;
            // display: grid;
            // grid-template-columns: minmax(300px, 0.45fr);
        }

        .inputStyle {
            border-color : hsl(0, 0%, 80%);
            border-radius: 4px;
            border-style : solid;
            border-width : 1px;
            font-size    : 16px;
            width                   : 45%;

            ::-webkit-input-placeholder {
                color: hsl(0, 0%, 50%);
            }

            :-ms-input-placeholder {
                color: hsl(0, 0%, 50%);
            }

            ::placeholder {
                color: hsl(0, 0%, 50%);
            }
        }

        .tagsWrapper {
            border-color : hsl(0, 0%, 80%);
            border-radius: 4px;
            border-style : solid;
            border-width : 1px;
            font-size    : 16px;
            min-height   : 142px;

            display        : flex;
            justify-content: start;
            padding        : 0 0.5em;
            flex-wrap      : wrap;

            .tags {
                color: hsl(0, 0%, 50%);

                width  : max-content;
                height : max-content;
                padding: 0.3em 0.8em;
                margin : 0.5em 0.3em;

                background   : #ECECEC 0% 0% no-repeat padding-box;
                border-radius: 17px;

                display: flex;
                align-items: center;
            }

            .deleteIconStyle {
                color     : #ECECEC;
                background: #898989 0% 0% no-repeat padding-box;
                opacity   : 1;

                margin-left  : 1em;
                border-radius: 50%;
                text-align   : center;
                // height       : 18px;
                // width        : 18px;
            }
        }

        .addBtn {
            font-size   : 16px;
            padding     : 0 1em;
            margin-right: 0;
            margin-left : auto;
            margin-top  : 2em;
            display: flex;
            column-gap: 0.5em;
            flex-wrap: wrap;
        }

        .errorMessage{
            color: red;
        }
    }
}