$table-border                 : 1px solid #DCDCDC;
$table-corner-radius          : 1em;
$table-header-color           : rgba(255, 255, 255, 0.8);
$table-header-background-color: rgba(254, 75, 2, 1) 0% 0% no-repeat padding-box;
$table-body-color             : #3E3E3E;
$scrollbar-bg                 : #CCCCCC;

.tableWrapper {
    padding   : 1em 0;
    overflow  : auto;
    // border : $table-border;


    .tableStyle {
        margin-top      : 0.5em;
        border-collapse : separate;
        border-spacing  : 0;
        width           : 100%;
        color           : $table-body-color;
        background-color: white;

        .thStyle {
            position     : relative;
            padding-right: 1.5em;
        }

        tr th,
        tr td {
            border-right : $table-border;
            border-bottom: $table-border;
            padding      : 0.9em;
            min-width    : 5em;
        }

        .wrapCol {
            min-width  : 400px !important;
            word-wrap  : break-word;
            white-space: break-spaces;
        }

        tr th:first-child,
        tr td:first-child {
            border-left: $table-border;
        }

        tr th {
            // background    : $table-header-background-color;
            border-top       : $table-border;
            text-align       : left;
            letter-spacing   : 0px;
            // color         : $table-header-color;
        }

        /* top-left border-radius */
        tr:first-child th:first-child {
            border-top-left-radius: $table-corner-radius;
        }

        /* top-right border-radius */
        tr:first-child th:last-child {
            border-top-right-radius: $table-corner-radius;
        }

        /* bottom-left border-radius */
        tr:last-child td:first-child {
            border-bottom-left-radius: $table-corner-radius;
        }

        /* bottom-right border-radius */
        tr:last-child td:last-child {
            border-bottom-right-radius: $table-corner-radius;
        }

        th:first-child,
        tr:first-child,
        td:first-child {
            padding-left: 1.5em;
        }

        th:last-child,
        tr:last-child,
        td:last-child {
            padding-right: 1.5em;
        }
    }
}